<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" class="aa" />
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  components: {}
}
</script>

<style>
.aa {
  width: 100px;
}
</style>
