<template>
  <div
    class="sidebar-logo-container"
    :class="{ collapse: collapse }"
    :style="{
      backgroundColor:
        sideTheme === 'theme-dark'
          ? variables.menuBackground
          : variables.menuLightBackground
    }"
  >
    <transition name="sidebarLogoFade">
      <router-link
        v-if="collapse"
        key="collapse"
        class="sidebar-logo-link"
        to="/"
      >
        <img v-if="logo" :src="logo" class="sidebar-logo" />
        <div
          v-else
          class="sidebar-title"
          :style="{
            color:
              sideTheme === 'theme-dark'
                ? variables.logoTitleColor
                : variables.logoLightTitleColor
          }"
        >
          <p>{{ title }}</p>
          <p>NANNING MEISHIDITU HOUTAI</p>
        </div>
      </router-link>
      <router-link v-else key="expand" class="sidebar-logo-link" to="/">
        <img v-if="logo" :src="logo" class="sidebar-logo" />
        <div
          class="sidebar-title"
          :style="{
            color:
              sideTheme === 'theme-dark'
                ? variables.logoTitleColor
                : variables.logoLightTitleColor
          }"
        >
          <p>{{ title }}</p>
          <p>NANNING MEISHIDITU HOUTAI</p>
        </div>
      </router-link>
    </transition>
  </div>
</template>

<script>
import logoImg from '@/assets/logo/logo.png'
import variables from '@/assets/styles/variables.scss'

export default {
  name: 'SidebarLogo',
  props: {
    collapse: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      title: '南宁美食地图后台',
      logo: logoImg
    }
  },
  computed: {
    variables() {
      return variables
    },
    sideTheme() {
      return this.$store.state.settings.sideTheme
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & .sidebar-logo-link {
    // height: 100%;
    // width: 100%;
    display: flex !important;
    justify-content: center;

    & .sidebar-logo {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-right: 8px;
    }

    & .sidebar-title {
      font-size: 18px;
      margin: 0;
      line-height: 18px;
      font-weight: bold;
      p {
        margin: 0;
        text-align: left;
      }
      p:nth-of-type(2) {
        font-size: 12px;
        margin-top: 2px;
        transform: scale(0.75);
        -webkit-transform-origin-x: left;
      }
      // display: inline-block;
      // margin: 0;
      // color: #fff;
      // font-weight: 600;
      // // line-height: 50px;
      // font-size: 14px;
      // font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      // vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
