<template>
  <section class="app-main">
    <transition name="fade-transform" mode="out-in">
      <keep-alive :include="cachedViews">
        <router-view :key="key" />
      </keep-alive>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  // data() {
  //     return {
  //         cachedViews: ['attractionList']
  //     };
  // },
  computed: {
    cachedViews() {
      return []
    },
    key() {
      return this.$route.path
    }
  },
  watch: {
    // $route(to, from) {
    //     if (from.meta.keepAlive && to.meta.flag !== 'detail') {
    //         let index = this.cachedViews.indexOf(from.name);
    //         this.cachedViews.splice(index, 1);
    //     } else if (from.meta.flag != 'detail') {
    //         let index = this.cachedViews.indexOf(to.name);
    //         this.cachedViews.splice(index, 1);
    //     } else {
    //         if (!this.cachedViews.includes(to.name) && to.name) {
    //             this.cachedViews.push(to.name);
    //         }
    //     }
    // }
  }
}
</script>

<style lang="scss" scoped>
.app-main {
  /* 50= navbar  50  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #eee;
  padding: 10px;
}

.fixed-header + .app-main {
  padding-top: 50px;
}

.hasTagsView {
  .app-main {
    /* 84 = navbar + tags-view = 50 + 34 */
    box-sizing: border-box;
    min-height: calc(100vh - 84px);
  }

  .fixed-header + .app-main {
    padding-top: 84px;
  }
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 17px;
  }
}
</style>
